.container
  %h1 About

  %p RailsBridge San Diego is a day and a half FREE workshop that will take students through building a complete web application using Ruby on Rails. By the end of the workshop, you'll make a live web app on the internet that can connect to a database and read &amp; write information. We'll meet up Friday night to install all of the software you need on your laptop, and then spend Saturday learning and writing code in an all-day workshop.

  %p RailsBridge is an organization that teaches people to code because we believe that the people making technology should accurately reflect the diversity of those using it. We want to push for all kinds of diversity in tech: gender, race, sexual orientation, ability, and class. Women were the first population we focused on, but aren't the last. We value acceptance, enthusiasm, and hard work. The RailsBridge community thrives on optimism and a love for making great things.

  %p RailsBridge workshops focus on providing opportunities for under-represented populations in tech. This is an Outreach to Women Workshop. It is emphatically LGBTQQIP2SAA friendly. If you are not a member of an underrepresented group, you can attend as a student if you're the guest of someone who is a member of the workshop's target population. The workshop provides an opportunity for you to participate in outreach efforts and encourage someone to attend with you who might not otherwise come.
          
  %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
    %input{:name => "hosted_button_id", :type => "hidden", :value => "FZCNZRWJW2UZ8"}
    %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}
    %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
