%form{:action => "/contact", :method => "post"}
  .form-group
    %label{for: "name"} Name
    %input.form-control{type: "text", name: "name", id: "name", placeholder: "Enter name"}
  .form-group
    %label{for: "email"} Email
    %input.form-control{type: "email", name: "inputEmail", id: "email", placeholder: "Enter email"}
  .form-group
    %label{for: "interest"} Get involved!
    %select.form-control#interest{name: "interest"}
      %option{class: "prompt"} How would you like to be involved?
      %option{value: 'Student'} Student - I'm interested attending RailsBridge!
      %option{value: 'Volunteer'} Volunteer - I'm interested in teaching or TAing at RailsBridge
      %option{value: 'Sponsor'} Sponsor - I'm interested in donating or hosting the next RailsBridge workshop
      %option{value: 'Organizer'} Organizer - I'm interested in helping plan the next RailsBridge workshop
  .form-group
    %label{for: "message"} Message
    %textarea.form-control{type: "text", name: "message", id: "message", placeholder: "Enter message", rows: 4}
  %button.btn.btn-primary{type: "submit"} Submit
