.form-group
  %label Name
  %input.form-control{type: "text", name: "name", id: "name"}

.form-group
  %label Email
  %input.form-control{type: "email", name: "inputEmail", id: "email"}

.form-group
  %label Get involved!
  %select.form-control#interest{name: "interest"}
    %option{class: "prompt", selected: "selected", disabled: "disabled"} How would you like to be involved?
    %option{value: 'Student'} Student - I'm interested attending RailsBridge!
    %option{value: 'Volunteer'} Volunteer - I'm interested in teaching or TAing at RailsBridge
    %option{value: 'Sponsor'} Sponsor - I'm interested in donating or hosting the next RailsBridge workshop
    %option{value: 'Organizer'} Organizer - I'm interested in helping plan the next RailsBridge workshop

.form-group
  %label Message
  %textarea.form-control{type: "text", name: "message", id: "message", rows: 3}

%button.btn.btn-primary{type: "submit"} Send Email
