.form-group
  %label Name
  %input.form-control{type: "text", name: "name", id: "name"}

.form-group
  %label Email
  %input.form-control{type: "email", name: "inputEmail", id: "email"}

.form-group
  %label Get involved!
  %select.form-control#interest{name: "interest"}
    %option{class: "prompt", hidden: "hidden", value: ""} How would you like to be involved?
    %option{value: 'Student'} Student - I'm interested attending RailsBridge!
    %option{value: 'Volunteer'} Volunteer - I'm interested in teaching or TAing at RailsBridge
    %option{value: 'Sponsor'} Sponsor - I'm interested in donating or hosting the next RailsBridge workshop
    %option{value: 'Organizer'} Organizer - I'm interested in helping plan the next RailsBridge workshop

.form-group
  %label Message
  %textarea.form-control{type: "text", name: "message", id: "message", rows: 3}

.messages
  %button.btn.btn-primary{type: "submit"} Send Email
  %span.loading
    %img{src: '/assets/icons/loading-1.svg'}
  %span.message-success Your message has been sent! We will contact you soon.
  %span.message-fail Sorry. Something went wrong. Please try again!
  %span.message-email Sorry. Please enter a valid email address!
  %span.message-interest Sorry. Please tell us how you would like to get involved!
