.container
  %h1 Curriculum

  %p The <a href="http://curriculum.railsbridge.org/docs/">RailsBridge Curriculum</a> is online so you can get an advance look at what you'll be learning. Most classes follow the RailsBridge  <a href="http://curriculum.railsbridge.org/intro-to-rails/">Introductory Curriculum</a> (our "Suggestotron" project) but some workshops cover the Ruby language, HTML and CSS for beginners, or Intermediate Rails.

  %p= link_to "Learn More!", "http://docs.railsbridge.org/docs/", class: "btn btn-primary"
