.container
  %h1 FAQ

  %h2 Who can attend the workshop?

  %p RailsBridge workshops focus on providing opportunities for under-represented populations in tech. Our primary outreach is towards women, but we all support diversity in gender, race, sexual orientation, ability, and class. So, if you think you belong to an under-represented population in tech, you’re probably right &mdash; so come join us!

  %h2 Do I need to know how to code to attend the workshop?

  %p
    No! You can attend with any level of experience, from
    %span.quote ‘I’ve never coded before’
    to
    %span.quote ‘I’m a web developer who wants to learn Ruby’
    \.

  %p At the beginning of the workshop will separate into groups based on experience level, so everyone is learning the material that is right for them.

  %h2 Do I need to be a woman to attend the workshop?

  %p No &mdash; but you can attend as a guest of a woman. If you are NOT a member of the workshop’s target population, you must sign up with someone who is!

  %h2 Do I need to bring my own laptop to the workshop?

  %p Yes. A laptop is required.

  %h2 Do I need to do anything to prepare for the workshop?

  %p It's a really good idea to start the Installfest ahead of time, and download any of the necessary things that your organizer emailed you about (RailsInstaller, perhaps, or XCode, or Sublime Text). Other than that, come as you are!

  %h2 Do I have to attend the Installfest?

  %p Yes! The Installfest is a crucial part of the weekend, even if you’ve already gone through the instructions independently. There are a ton of moving parts when setting up a development environment, and the reason that we’re able to get through the curriculum on Saturday is that every single student has had their development environment checked and has been awarded a sticker for their success. There are also enough changing parts that even if you’ve been to a workshop in the past, you should attend the Installfest to get re-verified, because Rails and its development environment changes frequently.

  %h2 Do I really have to attend the Installfest?

  %p Yes, really. There will be pizza, we promise. And fun people to talk to. And you don’t have to be there very long if you’ve already gotten through all the steps. (But if you haven’t gotten through all the steps ahead of time, please come early in the evening, because an install can take a few hours depending on what hiccups we need to work through.)

  %h2 How much does childcare cost?

  %p Nothing! RailsBridge hires a sitter on the house so that there’s nothing between you and your computer. Childcare is typically provided in a lounge or conference room near to your classroom. Just let the organizer know ahead of time so we can make arrangements.
  
  %h2 How do I sign up for RailsBridge San Diego?
  
  %p
    You can sign up by going to our
    = link_to "official BridgeTroll event page", "https://www.bridgetroll.org/events/342"
    and then clicking on the 
    %span.quote 'Attend as a student'
    button. Then, just fill out the form and complete the signup process.
    We're excited to see you there!
