.footer.container-fluid.peach-wrap
  .row
    .col-md-8
      %h2 Contact Us
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .contact-placeholder
        %p Contact form placeholder
    .col-md-4
      %h2 Recent Tweets
      %a.twitter-timeline{href: "https://twitter.com/railsbridgesd", "data-chrome": "nofooter", "data-width": "350", "data-height": "350"} Tweets by TwitterDev
  
  .row
    .col-md-12.text-center
      %a{:href => 'https://twitter.com/RailsBridgeSD', :target => '_blank'}
        %i.fa.fa-twitter
      %a{:href => 'https://www.facebook.com/groups/railsbridgesd/', :target => '_blank'}
        %i.fa.fa-facebook-official
      %a{:href => 'https://github.com/railsbridgesd', :target => '_blank'}
        %i.fa.fa-github
