.footer.container-fluid.peach
  .container
    .row
      .col-md-6
        %h2 Contact Us
        = haml :contact
      .col-md-1
      .col-md-5
        %h2 Recent Tweets
        %a.twitter-timeline{href: "https://twitter.com/railsbridgesd", "data-chrome": "nofooter", "data-width": "380", "data-height": "350"} Tweets by TwitterDev
        %a.twitter-follow-button{href: "https://twitter.com/railsbridgesd", "data-size": "large", "data-show-count": "false"}
          Follow @TwitterDev

    .row#social_icons
      .col-md-12.text-center
        %a{:href => 'https://twitter.com/RailsBridgeSD', :target => '_blank'}
          %i.fa.fa-twitter
        %a{:href => 'https://www.facebook.com/groups/railsbridgesd/', :target => '_blank'}
          %i.fa.fa-facebook-official
        %a{:href => 'https://github.com/railsbridgesd', :target => '_blank'}
          %i.fa.fa-github
