%head
  %title RailsBridge San Diego 
  %meta{:charset => 'utf-8'} 
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
  %link{:href => '/assets/app.css', :rel => 'stylesheet', :type => 'text/css'}
  %script{:src => '/assets/app.js'}
