%head
  %title RailsBridge San Diego
  %meta{:charset => 'utf-8'}
  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}

  -# jQuery
  %script{:crossorigin => "anonymous", :integrity => "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", :src => "https://code.jquery.com/jquery-3.2.1.min.js"}

  -# Bootstrap
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

  -# Font Awesome
  %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}

  %link{href: "https://fonts.googleapis.com/css?family=Lato:300,400|Roboto+Slab:400,700", rel: "stylesheet"}

  -# Twitter widgets
  %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

  -# Favicon and Touch icons (generated via iconifier.net)
  %link{:href => "/assets/icons/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
  %link{:href => "/assets/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}
  - ["57x57", "72x72", "76x76", "114x114", "120x120", "144x144", "152x152", "180x180"].each do |size|
    %link{:href => "/assets/icons/apple-touch-icon-#{size}.png", :rel => "apple-touch-icon", :sizes => "#{size}"}

  -# OpenGraph info
  %meta{:property => "og:url", :content => request.env["REQUEST_URI"]}
  %meta{:property => "og:site_name", :content => "RailsBridge San Diego"}
  %meta{:property => "og:title", :content => "RailsBridge San Diego"}
  %meta{:property => "og:image", :content => "#{request.env["REQUEST_URI"]}assets/meta/railsbridgesd.jpg"}
  %meta{:property => "og:image:width", :content => "1000"}
  %meta{:property => "og:image:height", :content => "540"}
  %meta{:property => "og:description", :content => "Join us for a free workshop where women can learn how to build a web app using Ruby on Rails!"}

  -# Twitter card
  %meta{:name => "twitter:card", :content => "summary_large_image"}
  %meta{:name => "twitter:image", :content => "#{request.env["REQUEST_URI"]}assets/meta/railsbridgesd.jpg"}
  %meta{:name => "twitter:image:alt", :content => "Photo of women learning to how to build a web app at Rails Bridge San Diego"}
  %meta{:name => "twitter:title", :content => "RailsBridge San Diego"}
  %meta{:name => "twitter:site", :content => "@RailsBridgeSD"}
  %meta{:name => "twitter:creator", :content => "@RailsBridgeSD"}
  %meta{:name => "twitter:description", :content => "Join us for a free workshop where women can learn how to build a web app using Ruby on Rails!"}
  
  -# Assets
  %link{:href => '/assets/app.css', :rel => 'stylesheet', :type => 'text/css'}
  %script{:src => '/assets/app.js'}
