.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#hamburger", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#intro"} RailsBridge San Diego

    #hamburger.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.pull-right
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#faq"} FAQ
        %li
          %a{:href => "#schedule"} Schedule
        %li
          %a{:href => "#volunteer"} Volunteer
        %li
          %a{:href => "#resources"} Resources
        %li
          %a{:href => "#curriculum"} Curriculum
