.row
  .col-md-6
    .schedule-block
      %h2 Installfest
      %h3
        %i.fa.fa-calendar-o
        %span Friday, April 21, 2017
      %h3
        %i.fa.fa-clock-o
        %span 6:00 pm - 9:00 pm
      %h3
        %i.fa.fa-map-marker
        %span= link_to "AppFolio", "https://goo.gl/maps/UrXeuyQPGM92", target: "_blank"
      %p
        Bring your laptop to <span>Installfest</span> and one of our volunteers will make sure you have all the software you need to take part in the <span>Workshop</span> on Saturday.
      %p
        Want to set up your laptop now? Just follow the
        = link_to "setup guide", "http://installfest.railsbridge.org/installfest/installfest", target: "_blank"
        and install everything yourself. But, if you get stuck at any point, just bring your laptop and we'll fix it for you.
      %p
        And once your laptop is working, you'll have plenty of time to get to know both our volunteer instructors and your fellow students.
      %p
        %strong What's included?
      %ul
        %li Pizza and beverages
        %li Tech support!
  .col-md-6
    .schedule-block
      %h2 Workshop
      %h3
        %i.fa.fa-calendar-o
        %span Saturday, April 22, 2017
      %h3
        %i.fa.fa-clock-o
        %span 9:30 am - 4:30 pm
      %h3
        %i.fa.fa-map-marker
        %span= link_to "AppFolio", "https://goo.gl/maps/UrXeuyQPGM92", target: "_blank"
      %p
        You'll start the <span>Workshop</span> by picking a class that matches your experience level. We have classes for all different levels &mdash; from total beginners to advanced developers.
      %p
        Once class starts, you'll work through the
        = link_to "RailsBridge curriculum", "http://docs.railsbridge.org/intro-to-rails/", target: "_blank"
        with your instructor at a comfortable pace, learning the basics of Ruby and then Ruby on Rails as you create your very own web app from scratch!
      %p
        At noon, you'll take lunch for an hour, and then keep working on your web app until it's live on the Internet!
      %p
        %strong What's included?
      %ul
        %li Breakfast, lunch, snacks, and beverages
        %li We also provide childcare services
