
// COLORS

// Solid colors
$peach:  #EB6852;
$red:    #B3282D;
$purple: #AD42EC;
$green:  #41E0D9;
$gray:   #D6CECB;
$white:  #FFFFFF;

// Transparent colors
$transparent_red: rgba(179, 40, 45, 0.6);
