
// FORMS

.btn {
  font-family: $roboto;
}

.btn-primary {
  background: $red;
  border: 1px solid $red;
  color: $white;
  transition: background 0.2s;
  &:hover, &:active, &:focus, &.active {
    background: $white !important;
    border: 1px solid $red !important;
    box-shadow: none !important;
    color: $red !important;
    outline: 0 !important;
    outline-offset: 0  !important;
  }
}

.peach .btn-primary {
  border: none !important;
}

.btn-peach {
  background: $peach;
  border: 1px solid $peach;
  &:hover, &:active, &:focus, &.active {
    background: $white;
    border: 1px solid $peach !important;
    color: $peach;
  }
}

.btn-red {
  background: $red;
  border: 1px solid $red;
  &:hover, &:active, &:focus, &.active {
    background: $white !important;
    border: 1px solid $red !important;
    color: $red !important;
  }
}

.btn-purple {
  background: $purple;
  border: 1px solid $purple;
  &:hover, &:active, &:focus, &.active {
    background: $white !important;
    border: 1px solid $purple !important;
    color: $purple !important;
  }
}

.btn-green {
  background: $green;
  border: 1px solid $green;
  &:hover, &:active, &:focus, &.active {
    background: $white !important;
    border: 1px solid $green !important;
    color: $green !important;
  }
}

.btn-gray {
  background: $gray;
  border: 1px solid $gray !important;
  &:hover, &:active, &:focus, &.active {
    background: $white !important;
    border: 1px solid $gray !important;
    color: $gray !important;
  }
}

.btn-white {
  background: $white;
  border: 1px solid $peach;
  color: $peach;
  &:hover, &:active, &:focus, &.active {
    background: $peach !important;
    border: 1px solid $peach !important;
    color: $white !important;
  }
}

.messages > span {
  display: none;
  font-family: $roboto;
  font-weight: bold;
  margin: 0;
  padding: 6px 12px;
  &.message-success {
    color: transparentize($white,0.1);
  }
  &.message-fail, &.message-email, &.message-interest {
    color: $red;
  }
}
