// LAYOUT

body {
  background: $white;
}

.navbar {
  background-color: $peach;
  border-bottom: none;
  transition: all 0.5s ease-out;
  .navbar-brand {
    background: url("/assets/brand_white.png") center left;
    background-repeat: no-repeat;
    background-size: 18%;
    color: #fff;
    font-weight: bold;
    padding-left: 50px;
    margin-left: 0px !important;
    &:hover {
      color: #fff;
    }
  }
  &.scrolled {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .navbar-brand {
      background: url("/assets/brand_peach.png") center left;
      background-repeat: no-repeat;
      background-size: 18%;
      color: $peach;
    }
  }
  &.navbar-default {
    .navbar-nav {
      li a{
        color: $white;
        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
    &.scrolled {
      li a {
        color: $peach;
        &:hover {
          color: $peach;
          text-decoration: underline;
        }
      }
    }
  }
}

section {
  margin: 30px 0;
  &.peach {
    background-color: $peach;
  }
}

#header {
  background-image: url("/assets/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

#intro {
  h2 {
    color: transparentize($peach,0.4);
    line-height: 1.3em;
    span {
      display: block;
    }
  }
  .btn-primary {
    border: none !important;
    &:hover, &:active, &:focus, &.active {
      border: none !important;
    }
  }
}

.form-inline .form-control {
  min-width: 300px;
}

#schedule {
  .schedule-block {
    background-color: rgba(255, 255, 255, .1);
    border-radius: .2em;
    margin: 12px 20px 30px 20px;
    padding: 5px 25px;
    h3 {
      color: transparentize($white,0.1);
      margin: 5px 0;
      i {
        color: transparentize($white,0.4);
        width: 20px;
        text-align: center;
      }
      a {
        color: transparentize($white,0.1);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#sponsors,
#annual_sponsors,
#thanks {
  h2 {
    font-size: 24px;
  }
  h3 {
    color: #999;
  }
  img {
    margin: 0 auto;
    &.amazon {
      height: 125px;
    }
    &.learn {
      height: 120px;
    }
    &.procore {
      margin-top: 50px;
    }
    &.appfolio {
      margin-top: 25px;
    }
    &.planningcenter {
      height: 90px;
    }
    &.sdruby {
      height: 125px;
      margin-bottom: -35px;
    }
  }
}

.footer {
  padding-bottom: 24px;
  &.peach {
    background-color: $peach;
  }
  i {
    color: transparentize($white,0.5);
    font-size: 32px;
    padding: 5px;
    &:hover {
      color: transparentize($white,0.2);
    }
  }
  #social_icons {
    margin-top: 24px;
  }
  iframe {
    max-width: 500px !important;
  }
  .twitter-follow-button {
    margin-top: 12px;
  }
}
