// LAYOUT

body {
  background: $white;
}

hr {
  opacity: 0.2;
}

img {
  width: 100px;
  height: 100px;
}

.navbar-default {
  background-color: transparent;
  border-bottom: none;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.peach-wrap {
  background-color: $peach;
  padding: 50px 70px;
}

#intro {
  background-image: url("/assets/intro.jpg");
  height: 620px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .intro-content {
    padding-top: 290px;
    display: block;
  }
}

.schedule-block {
  background-color: rgba(255, 255, 255, .1);
  border-radius: .2em;
  margin: 20px;
  padding: 5px 25px;
}

.footer {
  .contact-placeholder {
    height: 290px;
    background-color: rgba(255, 255, 255, .1);
  }
  iframe {
    max-width: 500px !important;
  }
  .twitter-follow-button {
    margin-top: 12px;
  }
}
