
// RESPONSIVE

// Schedule event blocks should always have the same height
@media (min-width: 992px) and (max-width: 1199px) {
  #schedule {
    .schedule-block {
      height: 595px;
    }
    .mailing-list {
      height: auto;
    }
  }
}

// iPad and below
@media (max-width: 768px) {
  
  // Push header image below navbar
  #header {
    margin-top: 50px !important;
  }
  
}

// iPhone 7/6 and below
@media (max-width: 376px) {
  
  // Hide carousel controls
  .carousel-control {
    display: none;
  }
  
}
