
// RESPONSIVE

// Tweak navbar toggle colors (on peach/non-scrolled navbar)
.navbar .navbar-toggle {
  
  // Make icon bars white (default)
  .icon-bar {
    background-color: $white;
  }
  // When tapped, make background white and icon bars peach
  &:hover {
    background-color: $white;
    .icon-bar {
      background-color: $peach;
    }
  }
  // When collapsed, make background peach and icon bars white 
  // (switches back to default colors after closing navbar menu)
  &.collapsed {
    background-color: $peach;
    .icon-bar {
      background-color: $white;
    }
  }
  
}

// Tweak navbar toggle colors (on white/scrolled navbar)
.navbar.scrolled .navbar-toggle {
  
  // Make icon bars white (default)
  .icon-bar {
    background-color: $peach;
  }
  // When tapped, make background white and icon bars peach
  &:hover {
    background-color: $peach;
    .icon-bar {
      background-color: $white;
    }
  }
  // When collapsed, make background peach and icon bars white 
  // (switches back to default colors after closing navbar menu)
  &.collapsed {
    background-color: $white;
    .icon-bar {
      background-color: $peach;
    }
  }

}

// Schedule event blocks should always have the same height
@media (min-width: 992px) and (max-width: 1199px) {
  #schedule {
    .schedule-block {
      height: 595px;
    }
    .mailing-list {
      height: auto;
    }
  }
}

// iPad Pro and smaller
@media (max-width: 1024px) {

  // Remove #intro headline text wrap on smaller screens
  #intro h2 span {
    display: inline;
  }
  
}

// Smaller than iPad
// (when the mobile navbar appears)
@media (max-width: 767px) {
  
  // Increase left margin on railsbridge icon in header
  .navbar .navbar-brand {
    margin-left: 5px !important;
  }
  
  // Push header image below navbar
  #header {
    margin-top: 50px !important;
  }
  
}

// iPhone 7/6 and smaller
@media (max-width: 375px) {
  
  // Hide carousel controls
  .carousel-control {
    display: none;
  }
  
  // Decrease H1 size on iPhone 7/6 and below
  h1 {
    font-size: 24px;
  }
  
  // Decrease H2 size on iPhone 7/6 and below
  h2,
  #schedule .schedule-block h2 {
    font-size: 18px;
  }
  
}
