
// RESPONSIVE

// Tweak navbar toggle colors
.navbar-default .navbar-toggle {
  // Make icon bars white (default)
  .icon-bar {
    background-color: $white;
  }
  // When tapped, make background white and icon bars peach
  &:hover {
    background-color: $white;
    .icon-bar {
      background-color: $peach;
    }
  }
  // When collapsed, make background peach and icon bars white 
  // (switches back to default colors after closing navbar menu)
  &.collapsed {
    background-color: $peach;
    .icon-bar {
      background-color: $white;
    }
  }
}

// Schedule event blocks should always have the same height
@media (min-width: 992px) and (max-width: 1199px) {
  #schedule {
    .schedule-block {
      height: 595px;
    }
    .mailing-list {
      height: auto;
    }
  }
}

// iPad and below
@media (max-width: 768px) {
  
  // Push header image below navbar
  #header {
    margin-top: 50px !important;
  }
  
}

// iPhone 7/6 and below
@media (max-width: 376px) {
  
  // Hide carousel controls
  .carousel-control {
    display: none;
  }
  
}
