
// TYPE

// Variables
$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;

// Headlines
h1, h2 {
  color: $peach;
  font-family: $roboto;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-family: $roboto;
  font-size: 18px;
  color: $gray;
  &.sample {
    margin-top: 60px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
  }
}

.peach {
  h1 {
    color: #fff;
  }
  h2 {
    color: transparentize($white,0.5);
  }
}

// Paragraphs
p {
  font-family: $lato;
  font-size: 18px;
  font-weight: 300;
  margin: 18px 0;
  span.quote {
    color: transparentize($peach,0.5);
    font-family: $roboto;
  }
}

// Forms
.form-control {
  font-family: $lato;
  font-size: 15px;
  font-weight: 300;
}

label {
  font-family: $roboto;
  font-size: 16px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.9);
}

// Links
a {
  font-family: $roboto;
  font-size: 16px;
  color: $red;
  &:hover {
    color: $red;
  }
}

// Lists
li {
  font-family: $lato;
  font-size: 18px;
  font-weight: 300;
  a {
    color: $red;
    &:hover {
      color: $red;
    }
  }
}


// EXCEPTIONS

#faq h2 {
  color: #333;
  font-size: 18px;
}
